/*=================================================
Contents

I. Fonts
II. Setting default styles for tags and BS classes

1. Header + main nav
 . Footer
3.
=================================================*/


/* I. Fonts*/
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src:  local('Rubik Light'), local('Rubik-Light');
    src:  url('../fonts/RubikLight.eot');
    src:  url('../fonts/RubikLight.eot?#iefix') format('embedded-opentype'), 
          url('../fonts/RubikLight.woff2') format('woff2'), 
          url('../fonts/RubikLight.woff') format('woff'), 
          url('../fonts/RubikLight.ttf') format('truetype'), 
          url('../fonts/RubikLight.svg#RubikLight') format('svg');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src:  local('Rubik'), local('Rubik-Regular');
    src:  url('../fonts/RubikRegular.eot');
    src:  url('../fonts/RubikRegular.eot?#iefix') format('embedded-opentype'), 
          url('../fonts/RubikRegular.woff2') format('woff2'), 
          url('../fonts/RubikRegular.woff') format('woff'), 
          url('../fonts/RubikRegular.ttf') format('truetype'), 
          url('../fonts/RubikRegular.svg#RubikRegular') format('svg');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src:  local('Rubik Medium'), local('Rubik-Medium');
    src:  url('../fonts/RubikMedium.eot');
    src:  url('../fonts/RubikMedium.eot?#iefix') format('embedded-opentype'), 
          url('../fonts/RubikMedium.woff2') format('woff2'), 
          url('../fonts/RubikMedium.woff') format('woff'), 
          url('../fonts/RubikMedium.ttf') format('truetype'), 
          url('../fonts/RubikMedium.svg#RubikMedium') format('svg');
}


@font-face {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 300;
    src: local('Assistant Light'), local('Assistant-Light');
    src: url('../fonts/AssistantLight.eot');
    src: url('../fonts/AssistantLight.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/AssistantLight.woff2') format('woff2'), 
    url('../fonts/AssistantLight.woff') format('woff'), 
    url('../fonts/AssistantLight.ttf') format('truetype'), 
    url('../fonts/AssistantLight.svg#AssistantLight') format('svg');
}

@font-face {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 400;
    src: local('Assistant'), local('Assistant-Regular');
    src: url('../fonts/AssistantRegular.eot');
    src: url('../fonts/AssistantRegular.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/AssistantRegular.woff2') format('woff2'), 
    url('../fonts/AssistantRegular.woff') format('woff'), 
    url('../fonts/AssistantRegular.ttf') format('truetype'), 
    url('../fonts/AssistantRegular.svg#AssistantRegular') format('svg');
}

/* II. Default styles */
body {
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  background-color: #fff;
  color: #404040;
  font-size: 22px;
  /*line-height: 40px;*/
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1 {
  font-size: 40px;
  line-height: 1;
  font-weight: 300;
}
h2 {
  font-size: 35px;
  font-weight: 300;
  line-height: 1;
}
h3 {
  font-size: 24px;
  line-height: 1.33333333;
  font-weight: 300;
}
p {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  p {
    font-size: 18px;
    line-height: 34px;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 50px;
  }
  h3 {
    font-size: 36px;
  }
  p {
    font-size: 21px;
    line-height: 40px;
  }
}

a {
  color: inherit;
  transition: .2s ease-in;
}
a:hover {
  color: inherit; 
}
/*input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 0;
}*/
textarea {
  resize: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-style: solid;
}
select::-ms-expand {
    display: none;
}
select {
  background-image: url(../img/select-arrow.png);
  background-position: 14px 50%;
  background-repeat: no-repeat;
}
label {
  font-weight: 400;
}

.form-control::-webkit-input-placeholder {
  color: rgba(8,10,1,.7);
  font-weight: 400;
}
.form-control:-moz-placeholder {
  color: rgba(8,10,1,.7);
  font-weight: 400;
}
.form-control::-moz-placeholder {
  color: rgba(8,10,1,.7);
  font-weight: 400;
}
.form-control:-ms-input-placeholder {
  color: rgba(8,10,1,.7);
  font-weight: 400;
}

.form-control {
  display: block;
  width: 100%;
  height: auto;
  padding: 7px 10px;
  font-size: 21px;
  line-height: 28px;
  font-weight: 400;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
select.form-control {
  background-image: url(../img/select-arrow.png);
  background-position: 14px 55%;
  background-repeat: no-repeat;
}
textarea.form-control {
  resize: none;
}

@media (min-width: 1200px) {
  .container {
    width: 1186px;
  }
}

.form-row {
  margin-bottom: 16px;
  position: relative;
}
.form-row-group:after,
.form-row:after {
  content: "";
  clear: both;
  display: table;
}
@media (min-width: 992px) {
  .form-row-group .form-row {
    float: right;
    width: 50%;
  }
}

.btn-main {
  display: inline-block;
  padding: 7px 18px;
  border: 2px solid #00d2ff;
  box-shadow: none;
  outline: none;
  font-size: 1em;
  line-height: 40px;
  font-weight: 400;
  background-color: #00d2ff;
  color: #2b2b2b;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  transition: all .3s;
}
.btn-main:hover,
.btn-main:focus {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
}


/*1. Site Header*/
.site-header {
  position: relative;
  /*top: 0;
  left: 0;
  width: 100%;*/
  z-index: 100;
}
.header-toprow {
  /*height: 30px;*/
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(0,0,0,.5);
  color: #fff;
}
.language-block {
  float: left;
  margin-left: 3px;
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}
.language-block:after {
  content: "";
  clear: both;
  display: table;
}
.language-block li {
  float: right;
  padding-left: 9px;
  padding-right: 10px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}
.user-block {
  float: left;
  display: none;
}

/*NAVIGATION*/
.site-nav {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
}
@media (min-width: 768px) {
  .site-nav {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: transparent;
  }
}
.site-nav.affix {
  top: 0;
  z-index: 100;
  background-color: rgba(0, 210, 255, .95);
  /*mix-blend-mode: difference;*/
}
.navbar-header {
  float: none;
  width: 100%;
  position: relative;
}
.navbar-header:after {
  content: "";
  clear: both;
  display: table;
}
.navbar-logo {
  float: right;
  padding: 8px 0;
  width: 150px;
}
@media (min-width: 768px) {
  .navbar-logo {
    padding: 4px 8px;
    width: 295px; /* 279 + 16px padding*/
  }
}
.navbar-logo > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.menu-button-group {
  float: left;
}
@media (min-width: 768px) {
  .menu-button-group {
    margin-left: 5px;
  }
}
.menu-button-group button {
  float: right;
  padding: 15px;
  height: 40px;
  width: 40px;

  border: none;
  background: transparent url("../img/icon-close.svg") center center no-repeat;
  box-shadow: none;
  outline: none;

  color: #fff;
}
@media (min-width: 768px) {
  .menu-button-group button {
    height: 50px;
    width: 45px;
  }
  .menu-button-group button:not(:last-child) {
    margin-left: 7px;
  }
}
.menu-button-group button:hover,
.menu-button-group button:focus {
  background-color: rgba(4,174,210,.5);
  box-shadow: 0 0 5px rgba(0,0,0,.5);
  border-radius: 5px;
}

.group-toggle.collapsed {
  background-image: url("../img/icon-ewave-group.svg");
}
.form-toggle.collapsed {
  background-image: url("../img/icon-write.svg");
}
.search-toggle.collapsed {
  background-image: url("../img/icon-search.svg");
}
.menu-toggle.collapsed {
  background-image: url("../img/icon-menu.svg");
}
.collapse {
  width: 100%;
  padding-bottom: 10px;
}
.menu-collapse {
  width: 100%;
  float: none;
  clear: both;
}
@media (min-width: 768px) {
  .menu-collapse {
    display: block;
    float: right;
    width: auto;
    clear: none;
  }
}
.main-nav {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  text-align: left;
}
.main-nav:after {
  content: "";
  clear: both;
  display: table;
}
@media (min-width: 768px) {
  .main-nav {
    text-align: right;
  }
}
.main-nav > li {
  position: relative;
  width: 100%;
}
@media (min-width: 768px) {
  .main-nav > li {
    /*padding-left: 12px;*/
    position: relative;
    width: auto;
    float: right;
  }
}
.main-nav > li > a {
  display: block;
  padding: 10px 15px;
  font-size: 25px;
  line-height: 1;
}
@media (min-width: 768px) {
  .main-nav > li > a {
    display: inline-block;
    padding: 7px 15px 13px;
    margin-bottom: 10px;
    font-size: 30px;
  }
}
/*.main-nav > li > a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  width: 8px;
  height: 15px;
  background: transparent url("../img/icon-menu-item.svg") center center no-repeat;
  background-size: contain;
}*/
.main-nav > li > a:focus, 
.main-nav > li > a:hover {
  color: #030b0c;
  background-color: transparent;
}
.main-nav > li > a:focus:before, 
.main-nav > li > a:hover:before {
  background-image: url("../img/icon-menu-item-h.svg");
}

.menu-form {
  width: 100%;
  max-width: 320px;
  margin-left: 0;
  margin-right: auto;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .menu-form {
    width: 266px;
    margin-left: 9px;
    padding-top: 7px;
  }
}
.menu-form .btn-main {
  display: block;
  margin-left: 0;
  margin-right: auto;
  min-width: 97px;
  background-color: rgba(0,0,0,.2);
  color: #fff;
  border: 2px solid #fff;
}
.menu-form .btn-main:hover,
.menu-form .btn-main:focus {
  background-color: #fff;
  color: #030b0c;
}

.ewave-links-group {
  width: 100%;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .ewave-links-group {
    max-width: 593px;
    float: left;
    margin-left: 9px;
    padding-top: 7px;
  }
}
.links-heading {
  text-align: left;
  font-size: 30px;
  line-height: 1;
  margin-bottom: 20px;
}
.ewave-links-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  float: left;
}
.ewave-links-list:after {
  content: "";
  clear: both;
  display: table;
}
.ewave-link-item {
  float: right;
  width: 29.84822934%;
  margin-left: 5.05902192%;
  margin-bottom: 5.05902192%;
}
.ewave-link-item:nth-child(3n) {
  margin-left: 0;
}
.ewave-link-item a {
  display: block;
  width: 100%;
  padding-top: 74.57627119%;
  padding-top: calc(74.57627119% - 2px);
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.85);
  position: relative;
  transition: all .3s;
}
.ewave-link-item a:hover,
.ewave-link-item a:focus {
  box-shadow: 2px 3px 12px -4px rgba(0,0,0,.8);
  background-color: #fff;
}
.ewave-link-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  max-width: 90%;
  max-height: 95%;
}

/*Section: Home Page Banner*/
.homepage-banner {
  /*min-height: 480px;*/
  padding-top: 20px;
  background-color: #c0bbbb;
  background-image: url("../img/banner-slide-01.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
}
/*.homepage-banner h1 {
  font-size: 40px;
  line-height: 1;
  text-align: center;
  margin-bottom: .5em;
}
.homepage-banner h1 span {
  display: block;
}*/
@media (min-width: 992px) {
  .homepage-banner {
    min-height: 362px;
    padding-top: 92px;
  }
  /*.homepage-banner h1 {
    font-size: 50px;
  }
  .homepage-banner h1 span:nth-child(2) {
    padding-right: 52px;
  }*/
}
@media (min-width: 1200px) {
  .homepage-banner {
    min-height: 584px;
    padding-top: 148px;
  }
  /*.homepage-banner h1 {
    padding-left: 13px;
    font-size: 60px;
  }*/
}

.circles-wrapper {
  text-align: center;
}
.circles-wrapper img {
  max-width: 50%;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .circles-wrapper img {
    max-width: 20%;
    margin: 0 5%;
  }
}
@media (min-width: 1200px) {
  .circles-wrapper img {
    max-width: none;
    margin: 0 71px;
  }
}



/*Section: Home Page Counters*/
.homepage-counters-block {
  padding-top: 56px;
  padding-bottom: 36px;
  background: #fff url('../img/background_pattern.png') 0 0 repeat;
  border-bottom: 6px solid #f9f8f8;
}
.homepage-counters-heading {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 50px;
  text-align: center;
}
.homepage-counters-text {
  padding: 0 7%;
  margin-bottom: 70px;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 300;
  text-align: center;
}
.homepage-counters-block .counter-item {
  /*position: relative;*/
  padding-left: 15px;
  padding-right: 15px;
  max-width: 450px;
  margin: 0 auto 20px;
}
@media (min-width: 768px) {
  .homepage-counters-block .counter-item {
    float: right;
    width: 33.33333333%;
  }
}
.counter-item-list {
  padding: 20px 0;
  margin-left: -15px;
  margin-right: -15px;
}
.counter-item-list:after {
  content: "";
  clear: both;
  display: table;
}
/*@media (min-width: 1200px) {
  .homepage-counters-block .row {
    margin-left: -29px;
    margin-right: -29px;
  }
  .homepage-counters-block .counter-item {
    padding-left: 29px;
    padding-right: 29px;
  }
}*/
.counter-item-inner {
  display: inline-block;
}
.counter-item .counter-item-img {
  position: relative;
  display: inline-block;
  /*width: 100%;*/
  padding-top: 94px;
  background: url("../img/counter-img-01.svg") 100% 0 no-repeat;
  /*background-size: contain;*/
}
.counter-item-01 {
  text-align: right;
}
.counter-item-02 {
  text-align: center;
}
.counter-item-03 {
  text-align: left;
}
.counter-item-01 .counter-item-img {
  padding-right: 54px;
  background-image: url("../img/counter-img-01.svg");
}
.counter-item-02 .counter-item-img {
  padding-right: 34px;
  background-image: url("../img/counter-img-02.svg");
}
.counter-item-03 .counter-item-img {
  padding-right: 55px;
  background-image: url("../img/counter-img-03.svg");
}
.counter-item .counter-value {
  color: #119799;
  font-family: Rubik;
  font-size: 84px;
  font-weight: 300;
  line-height: 1;
}
.counter-item h3 {
  padding-right: 15px;
  color: #404040;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  text-align: right;
}



/*Section: Home Page Partners*/
.homepage-partners {
  padding-top: 39px;
  padding-bottom: 53px;
  border-bottom: 6px solid #f9f8f8;
}
.homepage-partners-heading {
  text-align: center;
}
@media (min-width: 768px) {
  .homepage-partners .carousel-wrapper {
    padding: 0 80px;
  }
}
/* temp */
.homepage-partners .carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}



/*Section: Home Page Slider*/
.homepage-slider .slide {
  /*padding-top: 8%;
  padding-bottom: 46.58333333%;*/
  min-height: 320px;
  padding-top: 30px;
  background: #9ad5e8 url("../img/warehouse-slide.png") center center no-repeat;
  background-size: contain;
}
@media (min-width: 768px) {
  .homepage-slider .slide {
    padding-top: 40px;
    min-height: 640px;
  }
}
@media (min-width: 992px) {
  .homepage-slider .slide {
    padding-top: 54px;
    min-height: 836px;
  }
}
.slide-heading-wrapper { 
  min-width: 30.4375%;
  max-width: 50%;
  margin-left: auto;
  margin-right: -15px;
  padding: 18px 20px 18px 30px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  color: #404040;
  text-align: left;
}
@media (min-width: 768px) {
  .slide-heading-wrapper { 
    width: 30.4375%;
  }
}
.slide-heading-wrapper h2 {
  font-size: 40px; /*check*/
  line-height: 1;
  color: #404040;
  font-weight: 300;
}
@media (min-width: 992px) {
  .homepage-slider h2 {
    font-size: 50px;
  }
}
.homepage-slider .slide-01 {
  background-image: url("../img/warehouse-slide.png");
}
.homepage-slider .slide-02 {
  background-image: url("../img/41087404-Warehouse-loading-isometric-illustration.jpg");
}
.homepage-slider .owl-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.owl-dots:after {
  content: "";
  clear: both;
  display: table;
}
.homepage-slider .owl-dot {
  float: right;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
.homepage-slider .owl-dot:not(:last-child) {
  margin-left: 15px;
}
@media (min-width: 768px) {
  .homepage-slider .owl-dot:not(:last-child) {
    margin-left: 25px;
  }
}
.homepage-slider .owl-dot.active {
  background-color: #fff;
}
/*.homepage-slider {display: none;}*/


/*Section: Home Page Contacts*/
.homepage-contacts {
  position: relative;
  background-color: #fff;
  color: #2b2b2b;
}
.homepage-contacts:after {
  content: "";
  clear: both;
  display: table;
}
.contacts-map {
  padding-top: 100%;
  background: url("../img/map-default.png") 0 0 no-repeat; /*fallback*/
  background-size: cover;
}
.contacts-block {
  padding-top: 61px;
  padding-bottom: 39px;
}
.homepage-contacts h2 {
  margin-right: 27px;
  margin-bottom: 41px;
}

.contacts-wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .contacts-map {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    padding-top: 0;
  }
  .contacts-block {
    float: right;
    width: 50%;
    margin-right: 50%;
  }
  .homepage-contacts .contacts-wrapper {
    width: 375px;
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .homepage-contacts .contacts-wrapper {
    width: 485px;
  }
}
@media (min-width: 1200px) {
  .homepage-contacts .contacts-wrapper {
    width: 593px;
  }
}

.contacts-list {
  list-style-type: none;
  padding-right: 0;
  padding-left: 0;
}
.homepage-contacts .contacts-list {
  margin-right: 30px;
  margin-bottom: 46px;
}
.contacts-list li {
  position: relative;
  padding-right: 35px;
  font-weight: 400;
  line-height: normal;
}
.contacts-list li:last-child {
  margin-bottom: 0;
}
.contacts-list li:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 34px;
  background: transparent url("../img/icon-map-marker.svg") center top no-repeat;
}
.contacts-list .contacts-item-address:before {
  background-image: url("../img/icon-location-contact.svg");
}
.homepage-contacts .contacts-list .contacts-item-address:before {
  top: 10px;
}
.contacts-list .contacts-item-phone:before {
  background-image: url("../img/icon-phone-contact.svg");
}
.contacts-list .contacts-item-fax:before {
  background-image: url("../img/icon-fax-contact.png");
  top: 3px;
}
.contacts-list .contacts-item-email:before {
  background-image: url("../img/icon-email-contacts.svg");
}
.contacts-block .contacts-list li {
  padding-right: 40px;
  margin-bottom: 34px;
}
.main-form .field-wrapper {
  /*padding: 0 15px;*/
  position: relative;
}
.main-form select {
  background-position: 20px 50%;
}
.main-form textarea {
  margin-top: 2px;
  height: 77px;
  margin-bottom: 1px;
}
.main-form-label {
  color: #080a01;
}
.contacts-block .main-form-label {
  padding-right: 15px;
}
.main-form .btn-main {
  display: block;
  margin-right: auto;
  margin-left: 0;
  min-width: 98px;
  font-weight: 400;
}
.main-form .btn-main:hover,
.main-form .btn-main:focus {
  color: #2b2b2b;
}
@media (min-width: 768px) {
  .main-form .field-wrapper {
    float: right;
    width: 71.93605684% !important; /*to override chrome's plugin*/
  }
  .main-form-label {
    float: right;
    width: 28.06394316%;
    margin: 0;
    /*padding-right: 70px;*/
    padding-top: 7px;
    padding-bottom: 9px;
    font-size: 21px;
    line-height: 28px;
  }
}
@media (min-width: 1200px) {
  .contacts-block .main-form-label {
    padding-right: 70px;
  }
}

/*N. SITE FOOTER*/
.site-footer {
  background-color: #2b2b2b;
  color: #fff;
  font-size: 16px;
}
.site-footer h3 {
  font-size: 28px;
  line-height: 1;
  margin-bottom: 28px;
}
.footer-top-row {
  padding-top: 28px;
  padding-bottom: 0;
  background-color: #2b2b2b;
}

.footer-column {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 480px) {
  .footer-top-row .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .footer-column {
    width: 50%;
    text-align: initial;
  }
  .footer-column:nth-child(odd) {
    border-left: 2px solid rgba(255,255,255,.1);
  }
}
@media (min-width: 992px) {
  .footer-top-row .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .footer-logo-holder {
    width: 33.22091062%;
    border-left: 2px solid rgba(255,255,255,.1);
  }
  .footer-address {
    width: 21.24789207%;
    border-left: 2px solid rgba(255,255,255,.1);
    padding-right: 35px;
  }
  .footer-links {
    width: 26.55986509%;
    border-left: 2px solid rgba(255,255,255,.1);
    padding-right: 42px;
  }
  .footer-social {
    width: 18.9%; /*former: 18.97133221%;*/
  }
  .footer-social h3 {
    margin-right: 18px;
  }
}

.footer-logo-holder a {
  display: block;
  max-width: 307px;
  margin: 0 auto;
}
@media (min-width: 480px) {
  .footer-logo-holder a {
    position: absolute;
    margin: 0;
    top: 37%;
  }
}
.footer-logo-holder a img {
  display: block;
  max-width: 100%;
  height: auto;
}
.footer-address .contacts-list {
  display: inline-block;
}
@media (min-width: 480px) {
  .footer-address .contacts-list {
    display: block;
    margin-bottom: 18px;
  }
}
.footer-address .contacts-list .contacts-item {
  padding-right: 33px;
  margin-bottom: 30px;
}
.footer-address .contacts-list .contacts-item:last-child {
  margin-bottom: 0;
}
.footer-address .contacts-list .contacts-item-address:before {
  background-size: 13px 21px;
  top: 3px;
  background-image: url('../img/icon-location-footer.svg');
}
.footer-address .contacts-list .contacts-item-phone:before {
  background-size: 18px 18px;
  background-image: url('../img/icon-phone-footer.svg');
}
.footer-address .contacts-list .contacts-item-fax:before {
  background-size: 19px 17px;
  top: 1px;
  background-image: url('../img/icon-fax-footer.svg');
}
.footer-address .contacts-list .contacts-item-email:before {
  background-size: 19px 16px;
  background-image: url('../img/icon-email-footer.svg');
}
.footer-address .contacts-item-email {
  margin-bottom: 19px;
}

.footer-nav:after {
  content: "";
  clear: both;
  display: table;
}
.footer-links-list {
  list-style-type: none;
  margin-bottom: 0;
  padding-right: 0;
  /*float: right;
  width: 50%;*/
}
/*.footer-links-list:last-child {
  padding-right: 20px;
}*/
.footer-links-list li {
  margin-bottom: 24px;
}
.social-links-list {
  list-style-type: none;
  padding-right: 0;
  margin: 0;
  text-align: center;
}
.social-links-list:after {
  content: "";
  clear: both;
  display: table;
}
.social-links-list li {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 7px;
}
@media (min-width: 480px) {
  .social-links-list {
    text-align: left;
  }
  .social-links-list li {
    float: left;
    margin-bottom: 10px;
    margin-right: 7px;
  }
}
.social-links-list a {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
  background-color: navy;
  color: #fff;
  border-radius: 50%;
  position: relative;
  transition: all .3s ease-in;
}
.social-links-list .social-facebook {
  background-color: #537cbd;
  border-color: #537cbd;
}

.social-links-list .social-facebook:focus, 
.social-links-list .social-facebook:hover {
  background-color: #fff;
  color: #537cbd;
}

.social-links-list .social-twitter {
  background-color: #78cdf0;
  border-color: #78cdf0;
}

.social-links-list .social-twitter:focus, 
.social-links-list .social-twitter:hover {
  background-color: #fff;
  color: #78cdf0;
}

.social-links-list .social-linkedin {
  background-color: #1885c7;
  border-color: #1885c7;
}

.social-links-list .social-linkedin:focus, 
.social-links-list .social-linkedin:hover {
  background-color: #fff;
  color: #1885c7;
}

.social-links-list .social-google {
  background-color: #4c4c4b;
  border-color: #4c4c4b;
}

.social-google:focus, 
.social-google:hover {
  background-color: #fff;
  color: #4c4c4b;
}

.social-links-list .social-youtube {
  background-color: #e9644b;
  border-color: #e9644b;
}

.social-links-list .social-youtube:focus, 
.social-links-list .social-youtube:hover {
  background-color: #fff;
  color: #e9644b;
}

.social-links-list .social-rss {
  background-color: #f39200;
  border-color: #f39200;
}

.social-links-list .social-rss:focus, 
.social-links-list .social-rss:hover {
  background-color: #fff;
  color: #f39200;
}

.social-links-list .social-pinterest {
  background-color: #ea5755;
  border-color: #ea5755;
}

.social-links-list .social-pinterest:focus, 
.social-links-list .social-pinterest:hover {
  background-color: #fff;
  color: #ea5755;
}


.footer-bottom-row {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(6,6,6,.3);
  line-height: 1;
}
.footer-bottom-row p {
  /*display: inline-block;*/
  font-size: 13px;
  line-height: 24px;
  vertical-align: middle;
}
.footer-bottom-row .copyright {
  float: right;
  width: 50%;
}
.footer-bottom-row .created-by {
  float: left;
  width: 50%;
  direction: ltr;
  font-size: 14px;
  text-align: left;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .footer-bottom-row .created-by {
    font-size: 16px;
  }
}

/*Validation styles*/
input.error,
select.error,
textarea.error {
  border: 1px solid red;
}
label.error {
  font-size: 13px;
  line-height: 1;
  color: red;
  font-weight: 300;
  position: absolute;
  top: 100%;
}



/*Block: Breadcrumbs*/
.breadcrumbs-block {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
}
.breadcrumbs-list {
  list-style-type: none;
  padding: 0;
  margin-right: 1px;
  margin-bottom: 0;
  line-height: 1;
}
.breadcrumbs-list > li {
  display: inline-block;
  margin-left: 7px; /*3px on Services*/
  padding-left: 15px;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #030b0c;
}
.breadcrumbs-list > li:before {
  position: absolute;
  left: 0;
  top:1px;
  content: "\203A"; /*\2039 */
  /*line-height: 1;*/
  color: #04aed2;
  font-weight: 500;
}
.breadcrumbs-list > li:last-child {
  font-weight: 500;
  margin-left: 0;
}
.breadcrumbs-list > li:last-child:before {
  content: "";
  display: none;
}


